html, body{
  background-color: white;
  font-size: 14px;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

div, span {
  margin: 8px;
  border: 2px solid white
}
.searchBox{
  max-width:650px;
  margin: 0 auto;
}
.wordmark{
  color: orangered; 
  font-family: Lobster;
  font-size: 50px;
  text-align: center;
  margin-top: 175px;
}
a{
  color:orangered;
}
a:hover {
  color: orange;
}
.login{
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
.vline{
    position:fixed;
    top:0;
    left:50%;
    bottom:0; margin:0;
    border:none;
    border-right:solid 1px black;
    z-index:10;
}