html, body{
  margin:20px auto;
  max-width:650px;
  margin-top: 100px;
  padding:0 10px; 
  background-color:orangered;
  color: black;
  font-size: 14px;
}
.Header{
  color: white; 
  font-family: Lobster;
  font-size: 50px;
  text-align: center;
  justify-content: center;
}
