html, body{
  margin:20px auto;
  max-width:650px;
  padding:0 10px; 
  background-color: white;
  color: black;
  font-size: 14px;
}
.Wordmark{
  color: orangered; 
  font-family: Lobster;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  margin-top: 175px;
}
